/* main-content */
.main-content{
	width: 90%;
	height: auto;
	margin: 0 auto;
	background: #fff;
}

.banner{
	background:url('../images/banner_about_us.png') no-repeat center center/cover;
	width: 100%;
	height:791px;
	opacity: 0.86;
}

.brief-introduction{
	width: 192px;
	height: 67px;
	margin: 0 auto;
	margin-top: 53px;
}

.brief-introduction>span{
	font-family: PingFangSC-Medium;
	font-size: 48px;
	letter-spacing: 0;
	line-height: 67px;
	color: #1A3C7B;
}

.company-name{
	width: 288px;
	height: 33px;
}

.company-name>span{
	font-family: PingFangSC-Medium;
	font-size: 24px;
	color: #676767;
	letter-spacing: 0;
	line-height: 33px;
}

.underline{
	margin-top: 17px;
	width: 121px;
	height: 6px;
	background: #000;
}

.company-history{
	margin-top: 55px;
}

.company-history>span{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #676767;
	line-height: 40px;
}

.company-vision,.company-mission,.company-core-values{
	font-family: PingFangSC-Medium;
	font-size: 24px;
	color: #676767;
	line-height: 33px;
}

.company-vision{
	margin-top: 40px;
}

.company-hope,.company-mission,.company-core-values{
	margin-top: 20px;
}

.technical-strength{
	height: 868px;
	background:url('../images/img_technical_strength.png') no-repeat center center/cover;
	margin-top: 223px;
}

.technical-strength-name{
	position: relative;
	top: 52px;
	margin:0 auto;
	width: 192px;
	height: 67px;
}

.technical-strength-name>span{
	font-family: PingFangSC-Medium;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 67px;
}

.technical-strength-item1{
	margin-left: 34%;
	margin-top: 97px;
	height: 292px;
	width: 915px;
}

.technical-strength-item1>p,.technical-strength-item1>span,.technical-strength-item2>span,.technical-strength-item2>p{
	width: 915px;
	opacity: 0.6;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 40px;
}

.technical-strength-item2{
	margin-top: 62px;
	margin-left: 10%;
}

.company-honor{
	margin-top: 91px;
}

.company-honor-name{
	width: 192px;
	height: 67px;
	margin-top: 92px;
	margin:0 auto;
}

.company-honor-name>span{
	font-family: PingFangSC-Medium;
	font-size: 48px;
	color: #000000;
	line-height: 67px;
}

.company-honor-info{
	margin-top: 21px;
	margin-left: 149px;
	height: 194px;
}

.company-honor-info>span,.company-honor-info>p{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #676767;
	line-height: 40px;
}

.company-honor-picture{
	height: 1205px;
	margin:0 auto;
	margin-bottom: 90px;
}

.company-address{
	width: 100%;
	height: 400px;
	margin-top: 144px;
	background: #F5F5F5;
}

.company-address-detail{
	position: relative;
	top: 54px;
	width: 100%;
	height: 346px;
	margin:0 auto;
}

.company-address-detail>p,.company-address-detail-format>span{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #676767;
	line-height: 40px;
}

.company-address-detail-format{
	margin-top: 50px;
}

.code{
	float: right;
}

.code-word{
	margin-top: -10px;
	margin-left: 10px;
}

.code-word>span{
	font-family: PingFangSC-Regular;
	font-size: 15px;
	letter-spacing: 8px;
	color: #231916;
}
