/* main-content */ 
.banner{
	width: 90%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

#navbar{
	height: 70px;
}

.banner>div{
	width: 50%;
	background: #1A3C7B;
}

.banner-product{
	height: 61px;
	display: flex;
	flex-direction: row;
}

.banner-product>div{
	width: 20%;
	margin-top: 22px;
}

.banner-product-item3>span,.banner-product-item2>span,.banner-product-item4>span,.banner-product-item5>span{
	opacity: 0.5;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
}

.banner-product-item1>span{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
}

.banner-product-picture1{
	width: 90%;
	height: 791px;
	margin:0 auto;
	background: #F1F1F1;
}

.banner-product-picture2{
	width: 90%;
	height: 994px;
	background:url('../images/product_center_banner.png') no-repeat center center/cover;
	margin:0 auto;
}

.banner-product-picture2-item1{
	position: relative;
	top: 120px;
	margin-left: 24%;
}

.banner-product-picture3{
	height: 377px;
	position: relative;
	top: 19px;
	width: 90%;
	margin: 0 auto;
}

.banner-product-picture3-info{
	height: 28px;
	margin-top: 59px;
}

.banner-product-picture3-info>p{
	font-family: PingFangSC-Regular;
	font-size: 20px;
	color: #3D3D3D;
	line-height: 28px;
	margin-left: 694px;
}

.banner-product-picture4{
	width: 90%;
	height: 940px;
	background:url('../images/img_main_function.png') no-repeat center center/cover;
	margin:0 auto;
	margin-top: 73px;
}

.banner-product-picture4-item1{
	width: 192px;
	position: relative;
	top: 132px;
	margin: 0 auto;
}

.banner-product-picture4-item1>p{
	font-family: PingFangSC-Regular;
	font-size: 48px;
	color: #0E0E0E;
	line-height: 67px;
}

.banner-product-picture4-item2{
	width: 880px;
	height: 66px;
	position: relative;
	top: 229px;
	margin:0 auto;
}

.banner-product-picture4-item2>p{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #646464;
	text-align: center;
	line-height: 33px;
}

.banner-product-picture5{
	width: 90%;
	height: 942px;
	background:url('../images/img_dial.png') no-repeat center center/cover;
	margin:0 auto;
}

.banner-product-picture5-item1{
	width: 192px;
	height: 67px;
	position: relative;
	top: 246px;
	margin-left: 127px;
}

.banner-product-picture5-item1>p{
	font-family: PingFangSC-Regular;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 67px;
}

.banner-product-picture5-item2{
	width: 552px;
	height: 99px;
	margin-top: 246px;
	margin-left: 127px;
}

.banner-product-picture5-item2>p{
	opacity: 0.6;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 33px;
}

.banner-product-picture6{
	width: 90%;
	height: 895px;
	background:url('../images/img_sectional_view.png') no-repeat center center/cover;
	margin:0 auto;
}

.banner-product-picture7{
  width: 90%;
  margin:0 auto;
  height: 960px;
  margin-top: 142px;
}

.banner-product-picture7-word{
	width: 425px;
  position: relative;
  top: 68px;
  height: 67px;
  margin:0 auto;
}

.banner-product-picture7-word>p{
  font-family: PingFangSC-Regular;
  font-size: 48px;
  color: #1A3C7B;
}

.banner-product-picture7-content{
	width: 1105px;
	height: 72px;
	position: relative;
	top: 85px;
	margin: 0 auto;
}

.banner-product-picture7-content>p{
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #0E0E0E;
  text-align: center;
  line-height: 36px;
}

.banner-product-picture7-item1{
  width: 90%;
  height: 800px;
  background:url('../images/img_voice_module.png') no-repeat center center/cover;
  display: flex;
  flex-direction: row;
  margin-top: -120px;
}

.banner-product-picture7-item1-left{
  margin-top: 285px;
  margin-left: 24%;
}

.banner-product-picture7-item1-right{
  margin-top: 315px;
  margin-left: 9%;
}

.banner-product-picture8{
  width: 90%;
  height: 1080px;
  background:url('../images/img_app_module.png') no-repeat center center/cover;
  margin:0 auto;
}

.banner-product-picture8-item1{
  position: relative;
  top: 82px;
  height: 67px;
  width: 493px;
  margin:0 auto;
}

.banner-product-picture8-item1>p{
  font-family: PingFangSC-Regular;
  font-size: 48px;
  color: #FFFFFF;
}

.banner-product-picture8-item2{
  width: 953px;
  margin-top: 76px;
  margin-left: 333px;
}

.banner-product-picture8-item2>p{
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #ADAEB0;
  text-align: center;
  line-height: 36px;
}

.banner-product-parameter{
	width: 90%;
	height: 67px;
  margin:0 auto;
  margin-top: 74px;
	display: flex;
	flex-direction: row;
}

.banner-product-parameter-names-1{
	width: 620px;
	height: 34px;
  border-bottom: 2px solid #979797;
}

.banner-product-parameter-names-2{
	width: 196px;
	margin:0 auto;
	margin-top: -45px;

}

.banner-product-parameter-names-2>p{
  font-family: PingFangSC-Regular;
  font-size: 48px;
  color: #1A3C7B;
	line-height: 67px;
}

.banner-product-parameter-names-3{
	width:33%;
  height: 34px;
  border-bottom: 2px solid #979797;
	margin-left: 91px;
}

.banner-product-parameter-content{
	margin:0 auto;
	margin-top: 69px;
}


table{
	width: 90%;
	height: 491px;
	border-collapse: collapse;
	margin: 0 auto;
}

table tr td{
	border: 1px solid #979797;
}

.product-parameter-table-names>p{
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #898989;
  text-align: center;
	line-height: 33px;
}

.product-parameter-table-content>p{
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #000000;
  line-height: 33px;
  text-align: right;
  margin-right: 66px;
}