/* main-content */ 
.main-content{
	width: 90%;
	height: auto;
	margin: 0 auto;
}

.banner-product{
	height: 61px;
	background: #1A3C7B;
	display: flex;
	flex-direction: row;

}

.banner-product>div{
	width: 50%;
}

.banner-product-right{
	display: flex;
	flex-direction: row;
}

.banner-product-right>div{
	width: 20%;
	margin-top: 22px;
}

.banner-product-item3>span,.banner-product-item1>span,.banner-product-item4>span,.banner-product-item5>span{
	opacity: 0.5;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
}

.banner-product-item2>span{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
}

.banner-product-picture1{
	height: 791px;
}

.banner-product-picture2-word{
	width: 754px;
	display: flex;
	flex-direction: row;
	margin-top: 72px;
	margin: 0 auto;
}

.banner-product-picture2-word>p{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #1A3C7B;
	line-height: 67px;
}

.banner-product-picture2{
	width: 90%;
	height: 1123px;
	margin: 0 auto;
	margin-top: 25px;
}

.banner-product-picture3-word{
	width: 360px;
	height: 67px;
	position: relative;
	top: 58px;
	margin:0 auto;
}

.banner-product-picture3-word>p{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #1A3C7B;
	line-height: 67px;
}

.banner-product-picture3-content{
	width: 728px;
	height: 66px;
	position: relative;
	top: 68px;
	margin: 0 auto;
}

.banner-product-picture3-content>p{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #646464;
	text-align: center;
	line-height: 33px;
}

.banner-product-picture3{
	height: 778px;
	margin: 130px auto 0 18%;
	margin-top: 130px;
}

.banner-product-picture4{
	height: 980px;
	margin-top: 24px;
	background:url('../images/img_main_function02.png') no-repeat center center/cover;
}

.banner-product-picture4-title{
	width: 192px;
	height: 67px;
	position: relative;
	top: 48px;
	margin:0 auto;
}

.banner-product-picture4-title>p{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 67px;
}

.banner-product-picture4-content{
	width: 891px;
	height: 66px;
	position: relative;
	top: 92px;
	margin: 0 auto;
}

.banner-product-picture4-content>p{
	opacity: 0.6;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	line-height: 33px;
}

.banner-product-picture5{
	height: 1057px;
	background:url('../images/img_reproduction01.png') no-repeat center center/cover;
}

.banner-product-picture5-inside{
	position: relative;
	top: 173px;
	width: 80%;
	height: 698px;
	position: relative;
	top: 173px;
	margin: 0 auto;
	opacity: 0.9;
	background: #FFFFFF;
}

.banner-product-picture5-inside-item1{
	width: 51%;
	height: 67px;
	position: relative;
	top: 60px;
	margin: 0 auto;
}

.banner-product-picture5-inside-item1>p{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #183772;
	line-height: 67px;
}

.banner-product-picture5-inside-item2{
	width: 10%;
	height: 6px;
	position: relative;
	top: 73px;
	margin: 0 auto;
	background: #183772;
}

.banner-product-picture5-inside-item3{
	width: 40%;
	height: 351px;
	position: relative;
	top: 125px;
	margin-top: 116px;
	margin: 0 auto;
}

.banner-product-picture5-inside-item4{
	width: 8%;
	height: 33px;
	position: relative;
	top: 145px;
	margin: 0 auto;
}

.banner-product-picture5-outside{
	width: 80%;
	height: 6px;
	background: #FFFFFF;
	position: relative;
	top: 200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.banner-product-picture5-outside-1{
	width: 40%;
	height: 6px;
}

.banner-product-picture5-outside-2{
	width: 20%;
	height: 6px;
	background: #1A3C7B;
}


.banner-product-picture6{
	height: 980px;
	background:url('../images/img_remote_control.png') no-repeat center center/cover;
}

.banner-product-picture7{
	height: 860px;
	background:url('../images/img_phone_app.png') no-repeat center center/cover;
}

.banner-product-parameter{
	height: 67px;
  margin-top: 70px;
	display: flex;
	flex-direction: row;
}

.banner-product-parameter-names-1{
	width: 40%;
	height: 34px;
  border-bottom: 2px solid #979797;
}

.banner-product-parameter-names-2{
	width: 20%;
	margin: 0 auto;
	text-align: center;
}

.banner-product-parameter-names-2>p{
  font-family: PingFangSC-Regular;
  font-size: 48px;
  color: #1A3C7B;
	line-height: 67px;
}

.banner-product-parameter-names-3{
	width: 40%;
  height: 34px;
  border-bottom: 2px solid #979797;
}

.banner-product-parameter-content{
	margin-top: 69px;
	margin-bottom: 94px;
}


table{
	width: 100%;
	height: 688px;
	border-collapse: collapse;
}

table tr td{
	border: 1px solid #979797;
}

.product-parameter-table-names>p{
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #898989;
  text-align: center;
	line-height: 33px;
}

.product-parameter-table-content>p{
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #000000;
  line-height: 33px;
  text-align: right;
  margin-right: 31px;
}