/* main-content */ 
.main-content{
	width: 90%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 60px;
}


.banner-product{
	height: 61px;
	background: #1A3C7B;
	display: flex;
	flex-direction: row;
}

.banner-product>div{
	width: 50%;
}

.banner-product-right{
	display: flex;
	flex-direction: row;
	margin-top: 22px;
	height: 61px;
}

.banner-product-right>div{
	width: 20%;
}

.banner-product-item1>span,.banner-product-item2>span,.banner-product-item4>span,.banner-product-item5>span{
	opacity: 0.5;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
}

.banner-product-item3>span{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
}

.banner-product-introduce{
	width: 90%;
	height: 730px;
	background: #F1F1F1;
	display: flex;
	flex-direction: row;
}

.banner-product-introduce-left{
	width: 848px;
	height: 658px;
}

.banner-product-introduce-left-picture{
	width: 444px;
	height: 440px;
	margin-top: 54px;
	margin-left: 139px;
	border: 1px solid #8E8E8E;
}

.banner-product-introduce-left-picture>img{
	margin-top: 130px;
	margin-left: 120px
}

.banner-product-introduce-left-list{
	width: 573.1px;
	height: 79px;
	margin-top: 85px;
	display: flex;
	flex-direction: row;
}

.banner-product-introduce-left-list-1{
	width: 21.2px;
	height: 21.2px;
	margin-left: 149.1px;
	margin-top: 28.9px;
}

.banner-product-introduce-left-list-2{
	width: 79px;
	height: 79px;
	margin-left: 20.9px;
}

.banner-product-introduce-left-list-2>img{
	width: 68px;
	height: 63px;
	margin-top: 5px;
	margin-left: 6px;
}

.banner-product-introduce-left-list-3>img{
	margin-top: 12px;
}

.banner-product-introduce-left-list-4>img{
	margin-top: 5px;
}

.banner-product-introduce-left-list-3,.banner-product-introduce-left-list-4{
	width: 79px;
	height: 79px;
	margin-left: 61px;
}

.banner-product-introduce-left-list-5{
	width: 21.2px;
	height: 21.2px;
	margin-left: 14.9px;
	margin-top: 28.9px;
}

.banner-product-introduce-right{
	width: 772px;
	height: 604px;
	margin-top: 54px;
	background: #FFFFFF;
	box-shadow: 0 12px 13px 0 rgba(0,0,0,0.09);
}

.banner-product-introduce-right-title{
	margin-left: 100px;
	margin-top: 47px;
}

.banner-product-introduce-right-title>p{
	font-family: PingFangSC-Regular;
	font-size: 36px;
	color: #050505;
	letter-spacing: 3.6px;
	line-height: 50px;
}

.banner-product-introduce-right-title-1{
	margin-left: 100px;
}

.banner-product-introduce-right-title-1>span{
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #050505;
	letter-spacing: 1.8px;
}

.banner-product-introduce-right-title-2{
	width: 50px;
	height: 6px;
	background: #1A3C7B;
	margin-top: 9px;
	margin-left: 100px;
}

.banner-product-introduce-right-content{
	width: 444px;
	height: 60px;
	margin-top: 29px;
	margin-left: 100px;
}

.banner-product-introduce-right-content>p{
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #0E0E0E;
	letter-spacing: 2px;
	line-height: 30px;
}

.banner-product-introduce-right-bottom-list{
	display: flex;
	flex-direction: row;
}

.banner-product-introduce-right-bottom-left{
	width: 18px;
	height: 18px;
	border: 0px solid #1A3C7B;
	border-width: 0px 0px 0 0;
	transform: rotate(45deg);
	margin-top: 315px;
	margin-left: 471px;
	background: #fff;
}

.banner-product-introduce-right-bottom-right{
	width: 159px;
	height: 24px;
	background: #1A3C7B;
	margin-top: 312px;
	margin-left: -8px;
}

.banner-product-parameter{
	height: 810px;
	background: #1A3C7B;
	margin: 0 auto;
}

.banner-product-parameter-title{
	position: relative;
	top: 56px;
	margin-left: 5%;
	height: 50px;
}

.banner-product-parameter-title>p{
	font-family: PingFangSC-Regular;
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 4px;
	line-height: 50px;
}

.banner-product-parameter-names{
	width: 90%;
	height: 50px;
	display: flex;
	flex-direction: row;
	position: relative;
	top: 128px;
	margin:0 auto;
}

.banner-product-parameter-names-1{
	width: 32%;
	height: 25px;
	opacity: 0.5;
	border-bottom: 1px solid #FFFFFF;
}

.banner-product-parameter-names-2{
	width: 36%;
	text-align: center;
}

.banner-product-parameter-names-2>p{
	font-family: PingFangSC-Regular;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 50px;
}

.banner-product-parameter-names-3{
	width: 32%;
	height: 25px;
	opacity: 0.5;
	border-bottom: 1px solid #FFFFFF;
}

.banner-product-parameter-content{
	position: relative;
	top: 195px;
	margin:0 auto;
}

table{
	width: 90%;
	height: 369px;
	border-collapse: collapse;
	margin: 0 auto;
}

table tr td{
	border: 1px solid #FFFFFF;
}

.product-parameter-table-names>p{
	opacity: 0.5;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	line-height: 33px;
}

.product-parameter-table-content>p{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #FFFFFF;
	text-align: right;
	padding-right: 25px;
	line-height: 33px;
}