/* main-content */

.banner{
	width: 90%;
	height: auto;
	margin: 0 auto;
	background: #fff;
}

.set-meal{
	height: 61px;
	background: #1A3C7B;
	display: flex;
	flex-direction:row;
}

.set-meal-left{
	width: 60%;
}

.set-meal-right{
	width: 40%;
	display: flex;
	flex-direction: row;
}

.set-meal-right>div{
	width: 33.3%;
	margin-top: 22px;
}

.metropolis>span{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
}

.seiko>span,.improve>span{
	opacity: 0.5;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
}


.banner-picture{
	width: 100%;
}

.smart-home{
	width: 512px;
	display: flex;
	flex-direction:row;
	position: relative;
	top: 61px;
	margin: 0 auto;
}

.smart-home>div{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #1A3C7B;
}

.blue-dot{
	background: #1A3C7B;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 30px 11px 0px 11px;
}

.solution-picture{
	height: 1024.7px;
	position: relative;
	top: 115px;
	margin: 0 auto;
	background:url('../images/img_solution03.png') no-repeat center center/cover;
}

.solution-words{
	width: 56%;
	height: 324px;
	opacity: 0.9;
	background: #FFFFFF;
	position: relative;
	top: 302px;
	margin: 0 auto;
}

.solution-words-names{
	position: relative;
	top: 34px;
	margin-left: 17%;
}

.solution-words-names>span{
	font-family: PingFangSC-Medium;
	font-size: 30px;
	color: #0E0E0E;
	line-height: 42px;
}

.solution-words-names-blue-bar{
	width: 76px;
	height: 6px;
	background: #1A3C7B;
	margin-left: 17%;
	margin-top: 50px;
}

.solution-words-detail{
	margin-top: 43px;
	margin-left: 17%;
}

.solution-words-detail>p{
	font-family: PingFangSC-Regular;
	font-size: 28px;
	color: #3D3D3D;
	line-height: 40px;
}

.time-picture-list{
	width: 90%;
	height: 143px;
	opacity: 0.68;
	background: #FFFFFF;
	position: relative;
	top: 558px;
	margin: 0 auto;
}

.time-picture-list-border{
	width: 1117px;
	height: 60.5px;
	margin-left: 111px;
	border-bottom: 1px dashed #1A3C7B;
	position: absolute;
	z-index: -1;
}

.time-picture-list-picture{
	display: flex;
	flex-direction:row;
}

.time-picture-list-item1{
	width: 210px;
	height: 143px;
}

.time-picture-list-item2,.time-picture-list-item3.time-picture-list-item5,.time-picture-list-item6{
	width: 197.2px;
	height: 143px;
}

.time-picture-list-item4{
	width: 198.2px;
	height: 143px;
}

.time-picture-list-item1-clock{
	margin-top: 38px;
	margin-left: 158px;
}

.time-picture-list-item2-clock{
	margin-top: 38px;
	margin-left: 151px;
}

.time-picture-list-item3-clock{
	margin-top: 38px;
	margin-left: 144px;
}

.time-picture-list-item4-clock,.time-picture-list-item5-clock{
	margin-top: 38px;
	margin-left: 150px;
}

.time-picture-list-item6-clock{
	margin-top: 38px;
	margin-left: 146px;
}

.time-picture-list-item1-clock,.time-picture-list-item2-clock,.time-picture-list-item3-clock,.time-picture-list-item4-clock,.time-picture-list-item5-clock,.time-picture-list-item6-clock{
	width: 46px;
	height: 46px;
	z-index: 1;
}


.time-picture-list-item1-number>span,.time-picture-list-item2-number>span,.time-picture-list-item3-number>span,.time-picture-list-item4-number>span,.time-picture-list-item5-number>span,.time-picture-list-item6-number>span{
	opacity: 0.39;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #0E0E0E;
	line-height: 20px;
	width: 59px;
}

.time-picture-list-item1-number,.time-picture-list-item2-number,.time-picture-list-item3-number,.time-picture-list-item4-number,.time-picture-list-item5-number,.time-picture-list-item6-number{
	margin-top: 11px;
}

.time-picture-list-item1-number{
	margin-left: 151px;
	width: 59px;
}

.time-picture-list-item4-number{
	margin-left: 139.2px;
	width: 59px;
}

.time-picture-list-item2-number,.time-picture-list-item3-number,.time-picture-list-item5-number,.time-picture-list-item6-number{
	margin-left: 138.2px;
	width: 59px;
}

.hongyun-intelligent-products{
	height: 2460px;
	background: #1A3C7B;
	margin: 0 auto;
	margin-top: 116px;
}

.hongyun-intelligent-products-names{
	display: flex;
	flex-direction:row;
	position: relative;
	top: 67px;
	height: 67px;
}

.hongyun-intelligent-products-names-detail,.hongyun-intelligent-products-names-detail-item{
	margin-left: 40%;
}

.hongyun-intelligent-products-names-detail>span,.hongyun-intelligent-products-names-detail-item>span{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 67px;
}

.hongyun-intelligent-products-names-detail-white-note{
	width: 10%;
	height: 6px;
	background: #FFFFFF;
	margin-top: 29px;
	margin-left: 4%;
}

.hongyun-intelligent-products-names-detail-item{
	margin-top: 78px;
}

.hongyun-intelligent-products-picture{
	margin-top: 31px;
	display: flex;
	flex-direction:row;
}

.hongyun-intelligent-products-picture-left{
	margin-left: 5%;
	background: #FFFFFF;
	width: 68.5%;
	height: 984px;
}

.hongyun-intelligent-products-picture-right{
	background: #FFFFFF;
	width: 20.5%;
	height: 984px;
	margin-left: 1%;
}

.hongyun-intelligent-products-picture-left-item1{
	width: 50%;
	margin-top: 56px;
	margin: 0 auto;
}

.hongyun-intelligent-products-picture-left-item2{
	width: 52%;
	height: 66px;
	position: relative;
	top: 96px;
	margin: 0 auto;
}

.hongyun-intelligent-products-picture-left-item2>p{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #0E0E0E;
	text-align: center;
	line-height: 33px;
}

.picture-right-item1,.picture-right-item2,.picture-right-item3,.picture-right-item4,.picture-right-item5,.picture-right-item6,.picture-right-item7,.picture-right-item8{
	height: 130px;
}

.picture-right-item2,.picture-right-item3,.picture-right-item4,.picture-right-item5,.picture-right-item6,.picture-right-item7,.picture-right-item8{
	margin-top: -8px;
}

.picture-right-item1-words,.picture-right-item2-words,.picture-right-item3-words,.picture-right-item4-words,.picture-right-item5-words,.picture-right-item6-words,.picture-right-item7-words,.picture-right-item8-words{
	margin-left: 57px;
}

.picture-right-item1-words{
	position: relative;
	top: 55px;
}

.picture-right-item2-words{
	position: relative;
	top: 58px;
}

.picture-right-item3-words{
	position: relative;
	top: 50px;
}

.picture-right-item4-words{
	position: relative;
	top: 56px;
}

.picture-right-item5-words{
	position: relative;
	top: 48px;
}

.picture-right-item6-words{
	position: relative;
	top: 54px;
}

.picture-right-item7-words{
	position: relative;
	top: 46px;
}

.picture-right-item8-words{
	position: relative;
	top: 52px;
} 

.picture-right-item1-words>span{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #1A3C7B;
	text-align: center;
}

.picture-right-item2-words>span,.picture-right-item3-words>span,.picture-right-item4-words>span,.picture-right-item5-words>span,.picture-right-item6-words>span,.picture-right-item7-words>span,.picture-right-item8-words>span{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #0E0E0E;
	text-align: center;
}


.activity{
	width: 90%;
	height: 550px;
	margin: 0 auto;
	margin-top: 30px;
	background: #FFFFFF;
}

.activity-names{
	width: 216px;
	height: 50px;
	position: relative;
	top: 29px;
	margin-left: 3%;
}

.activity-names>p{
	font-family: PingFangSC-Regular;
	font-size: 36px;
	color: #0E0E0E;
	line-height: 50px;
}

.activity-black-note{
	width: 108px;
	height: 6px;
	background: #0E0E0E;
	margin-top: 56px;
	margin-left: 3%;
}

.activity-detail{
	width: 90%;
	height: 376px;
	margin-top: 42px;
	margin-left: 3%;
}

.activity-detail>p{
	text-indent: 2em;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #0E0E0E;
	line-height: 40px;
}

.activity-detail-blank-box{
	width: 122px;
	height: 88px;
	position: absolute;
	margin-top: -35px;
	margin-left: 80%;
	opacity: 0.3;
	border-right: 1px solid #111111;
	border-bottom: 1px solid #111111;
}

.major-function{
	height: 480px;
	background: #FFFFFF;
	margin-top: 53px;
}

.major-function-names{
	width: 192px;
	height: 67px;
	position: relative;
	top: 58px;
	margin: 0 auto;
}

.major-function-names>span{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #0E0E0E;
	line-height: 67px;
}

.major-function-item{
	width: 55%;
	height: 66px;
	margin: 0 auto;
	margin-top: 85px;
}

.major-function-item>p{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #646464;
	text-align: center;
	line-height: 33px;
}

.major-function-picture{
	width: 80%;
	margin: 0 auto;
	height: 323px;
	margin-top: -138px;
	background: url(../images/solution_main_function.png) no-repeat center center/cover;
}

.major-function-suit{
	width: 318px;
	height: 73px;
	margin: 0 auto;
	margin-top: 60px;
}

.major-function-suit>span{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #1A3C7B;
	text-align: center;
	line-height: 67px;
	letter-spacing: 0;
}

.major-function-range{
	width: 515px;
	height: 33px;
	margin: 0 auto;
	margin-top: 1px;
}

.major-function-range>span{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #000000;
	text-align: center;
}

.major-function-range-picture{
	width: 90%;
	height: 755.1px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 39.9px;
}

.office-building-villa-rendering-visualization{
	width: 20%;
	background:url('../images/office_building-villa-rendering-visualization.png') no-repeat center center/cover;
}

.hotel{
	width: 20%;
	background:#1A3C7B;;
}

.hotel-guest-room{
	width: 20%;
	background:url('../images/hotel_guest_room.png') no-repeat center center/cover;
}

.asia-assistance-carer-caretaker{
	width: 20%;
	background:url('../images/asia_assistance_carer_caretaker.png') no-repeat center center/cover;
}

.buildings-houses-apartments{
	width: 20%;
	background:url('../images/buildings_houses_apartments.png') no-repeat center center/cover;
}

.office-building-villa-rendering-visualization>div{
	margin: 347px 119.9px 38.2px 121px;
}

.hotel>div{
	margin: 339.5px 124.8px 26.7px 124.8px;
}

.hotel-guest-room>div{
	margin: 339.8px 123.5px 37.1px 125.7px;
}

.asia-assistance-carer-caretaker>div{
	margin: 339.7px 127.8px 27.1px 114.3px;
}

.buildings-houses-apartments>div{
	margin: 341.4px 121.2px 27.7px 123.1px;
}

.office-building-villa-rendering-visualization>span{
	margin-left: 130px;
}

.hotel>span{
	margin-left: 136.2px;
}

.hotel-guest-room>span{
	margin-left: 139.4px;
}

.asia-assistance-carer-caretaker>span{
	margin-left: 124.6px;
}

.buildings-houses-apartments>span{
	margin-left: 115px;
}

.major-function-range-picture span{
	opacity: 0.6;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
}

.case-presentation{
	width: 192px;
	margin: 0 auto;
	margin-top: 61px;
}

.case-presentation>span{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #1A3C7B;
}

.case-presentation-picture{
	width: 90%;
	height: 550px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 60px;
}

.case-presentation-picture>div{
	width: 33.3%;
}

.case-presentation-picture-item2{
	margin-left: 39px;
}

.case-presentation-picture-item3{
	margin-left: 19px;
}

.case-presentation-picture-item1-names,.case-presentation-picture-item1-detail,.case-presentation-picture-item1-jump{
	margin-left: 35px;
}

.case-presentation-picture-item2-names,.case-presentation-picture-item2-detail,.case-presentation-picture-item2-jump{
	margin-left: 30px;
}

.case-presentation-picture-item3-names,.case-presentation-picture-item3-detail,.case-presentation-picture-item3-jump{
	margin-left: 30px;
}

.case-presentation-picture-item1-names,.case-presentation-picture-item2-names{
	margin-top: 31px;
}

.case-presentation-picture-item3-names{
	margin-top: 27px;
}

.case-presentation-picture-item1-names>span,.case-presentation-picture-item2-names>span,.case-presentation-picture-item3-names>span{
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #0E0E0E;
	line-height: 25px;
}

.case-presentation-picture-item1-detail,.case-presentation-picture-item2-detail,.case-presentation-picture-item3-detail{
	margin-top: 10px;
}

.case-presentation-picture-item1-detail>span,.case-presentation-picture-item2-detail>span,.case-presentation-picture-item3-detail>span{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #646464;
	line-height: 20px;
}

.case-presentation-picture-item1-jump,.case-presentation-picture-item2-jump,.case-presentation-picture-item3-jump{
	margin-top: 62px;
}

.case-presentation-picture-item1-jump>span,.case-presentation-picture-item2-jump>span,.case-presentation-picture-item3-jump>span{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #1A3C7B;
}

.case-presentation-picture-choice{
	width: 112.9px;
	height: 7px;
	margin: 81px auto 61px auto;
	display: flex;
	flex-direction: row;
}

.case-presentation-picture-choice-left{
	width: 46.4px;
	height: 7px;
	transform: scaleY(-1);
	background: #1A3C7B;
}

.case-presentation-picture-choice-right{
	width: 46.4px;
	height: 1px;
	transform: scaleY(-1);
	background: #A4A4A4;
	margin-top: 6px;
	margin-left: 20.1px;
}