/* main-content */
.main-content{
	width: 90%; 
	height: auto;
	margin: 0 auto;
	background: #fff;
}

.banner-service01{
	height: 790px;
	background:url('../images/banner_service01.png') no-repeat center center/cover;
}

.banner-service02{
	display: flex;
	flex-direction:row;
}

.banner-service02-picture{
	width: 50%;
	height: 702px;
	margin-top: 38px;
}

.banner-service02-info{
	width: 62%;
	height: 837px;
	background: #1A3C7B;
	margin-top: -97px;
	margin-left: -11%;
}

.blank-line{
	width: 147px;
	height: 6px;
	background: #FFFFFF;
	margin-top: 88px;
	margin-left: 47px;
}

.banner-service-words{
	width: 956px;
	height: 43px;
	margin-left: 47px;
	margin-top: 129px;
}

.banner-service-words>p{
	opacity: 0.6;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 48px;
}

.hongyun-service-name{
	height: 246px;
	background: #24262B;
}

.hongyun-service-words{
	position: relative;
	top: 94px;
}

.hongyun-service-words>p{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #FFFFFF;
	text-align: center;
	line-height: 67px;
}

.banner-service-technological-process{
	height: 980px;
}

.black-background{
	height: 104px;
	background: #24262B;
}

.add-terminal-picture{
	position: relative;
	top: -125px;
	left: 26%;
	height: 1093px;
}

.add-terminal-words{
	height: 1193px;
	display: flex;
	flex-direction:row;
}

.add-terminal-words-left{
	width: 40%;
	height: 843px;
}

.add-terminal-words-left-names{
	margin-top: 88px;
	height: 67px;
}

.add-terminal-words-left-names>span{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #1A3C7B;
	text-align: center;
	line-height: 67px;
}

.blue-bar{
	margin-top: 11px;
	width: 147px;
	height: 6px;
	background: #1A3C7B;
}

.add-terminal-words-left-detail{
	margin-top: 54px;
	width: 75%;
	height: 165px;
}

.add-terminal-words-left-detail>p{
	opacity: 0.6;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #000000;
	line-height: 33px;
}

.add-terminal-words-right{
	width: 60%;
	height: 843px;
	display: flex;
	flex-direction:row;
}

.mobile-phone-system{
	margin-top: 69px;
	display: flex;
	flex-direction:row;
	width: 75%;
}

.mobile-phone-system-ios,.mobile-phone-system-android{
	width: 50%;
	height: 80px;
	background: #1A3C7B;
	font-family: PingFangSC-Regular;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 50px;
	display: flex;
	align-items: center;
}

.mobile-phone-system-android{
	margin-left: 16%;
	padding-left: 7%;
}

.mobile-phone-system-ios{
	padding-left: 15%;
}

.add-terminal-words-left,.add-terminal-words-right{
	margin-top: 225px;
}
.add-terminal-words-right{
	background: #1A3C7B;
}

.add-terminal-right-blue-background{
	width: 109px;
	height: 843px;
	background: #1A3C7B;
	margin-left: 537px;
}

.service-centre{
	height: 680px;
	margin-top: 64px;
	margin-bottom: 90px;
	background:url('../images/img_service03.png') no-repeat center center/cover;
}

.service-centre-names{
	width: 288px;
	position: relative;
	top: 123px;
	margin: 0 auto;
}

.service-centre-names>span{
	font-family: PingFangSC-Semibold;
	font-size: 48px;
	color: #FFFFFF;
	text-align: center;
	line-height: 67px;
}

.white-bar{
	position: relative;
	top: 134px;
	width: 143px;
	height: 6px;
	background: #fff;
	margin: 0 auto;
}

.service-centre-words{
	margin: 0 auto;
	margin-top: 174px;
	width: 1049px;
	height: 80px;
}

.service-centre-words>span{
	opacity: 0.6;
	font-family: PingFangSC-Regular;
	font-size: 28px;
	color: #FFFFFF;
}