/* main-content */ 
.main-content{
	width: 90%;
	height: auto;
	margin:0 auto;
	background: #fff;
}

.banner-product{
	width: 100%;
	height:791px;
	background:url('../images/banner_product_center.png') no-repeat center center/cover;
}

.product-list{
	width: 90%;
	height: 160px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.product-list>div{
	width: 25%;
	text-align: center;
}
.product-list-terminal-item1{
	height: 160px;
}

.product-list-terminal-item2{
	height: 160px;
}

.product-list-terminal-item3{
	height: 160px;
}

.product-list-terminal-item4{
	height: 160px;
}

.product-list-terminal-item1-words,.product-list-terminal-item2-words,.product-list-terminal-item3-words,.product-list-terminal-item4-words{
	margin: 0 auto;
	margin-top: 69px;
}

.product-list-terminal-item1-words>p,.product-list-terminal-item2-words>p,.product-list-terminal-item3-words>p,.product-list-terminal-item4-words>p{
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #000000;
	line-height: 25px;
}

.product-list-terminal-item1-ring{
	width: 17px;
	height: 17px;
	border-radius: 50%;
	border: 4px solid #1A3C7B;
	margin-top: 8px;
	margin: 0 auto;
}

.product-meta-series{
	margin-top: 60px;
	width: 90%;
	height: 557px;
}

.product-meta-series-detail{
	display: flex;
	flex-direction: row;
	background: #F5F5F5;
}

.product-meta-series-left{
	width: 50%;
	margin-left: 4%;
}

.product-meta-series-right{
	width: 50%;
	margin-top: 131px;
}

.product-meta-series-right-title>span,.product-series-left-title{
	font-family: PingFangSC-Semibold;
	font-size: 36px;
	color: #1A3C7B;
	letter-spacing: 1px;
	line-height: 50px;
}

.product-meta-series-right-content{
	width: 707px;
	height: 206px;
	margin-top: 22px;
}

.product-meta-series-right-content>p,.product-series-left-content>p{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #2F2F2F;
	letter-spacing: 0.67px;
	line-height: 33px;
}

.product-meta-series-right-detail{
	margin-top: -9px;
	display: flex;
	flex-direction: row;
}

.product-meta-series-right-detail>span,.product-series-left-detail>span{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #1A3C7B;
	line-height: 33px;
}

.product-meta-series-right-next,.product-series-left-next{
	margin-top: 2px;
	margin-left: 10px;
}

.product-series{
	width: 90%;
	height: 557px;
	margin-top: 40px;
}

.product-series-detail{
	display: flex;
	flex-direction: row;
	background: #F5F5F5;
}

.product-series-left{
	width: 50%;
	margin-top: 139px;
	margin-left: 10%;
}

.product-series-left-content{
	width: 716px;
	height: 171px;
	margin-top: 22px;
}

.product-series-left-detail{
	display: flex;
	flex-direction: row;
}

.product-series-right{
	width: 50%;
	margin-top: 126px;
	margin-left: 20%;
}

.product-series-page-number{
	margin-top: 37px;
	height: 33px;
	display: flex;
	flex-direction: row;
	margin-bottom: 90px;
}

.product-series-page-number-item1,.product-series-page-number-item4{
	width: 17px;
	height: 17px;
}

.product-series-page-number-item1{
	margin-left: 865.5px;
}

.product-series-page-number-item2,.product-series-page-number-item3{
	width: 29px;
	height: 29px;
	margin-left: 36.5px;
}

.product-series-page-number-item2{
	margin-top: -5px;
	background: #1A3C7B;
}

.product-series-page-number-item3{
	margin-top: -6px;
}

.product-series-page-number-item2>p,.product-series-page-number-item3>p{
	font-family: PingFangSC-Regular;
	font-size: 24px;
	letter-spacing: 0.67px;
	line-height: 33px;
	text-align: center;
}

.product-series-page-number-item2>p{
	color: #FFFFFF;
}

.product-series-page-number-item3>p{
	color: #2F2F2F;
}

.product-series-page-number-item4{
	margin-left: 36.5px;
}